h2{
    color: greenyellow
}

p{
    color:orange;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 900;
    font-style: italic;
}
/* body{
    background-color: black;
} */

.blue{
    color:blue;
    font-style:unset;
}

.divTest p{
    color:pink;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    font-weight: 100;
    font-style: italic;
}

.divTest h2{
    color:cornflowerblue;
}

.details {
    background-image: linear-gradient(to bottom right,greenyellow, cornflowerblue, white);
}
.details input {
    width: 70%;
    padding: 5px 5px;
    margin-bottom: 10px;
}

.personal {
    background-image: linear-gradient(to right,white, red, white);
}

.personal select, input{
    margin-bottom: 10px;
}

.comments {
    background-image: linear-gradient(orange, cyan);
}